html,
body {
    margin: 0;
    padding: 0;
}

iframe {
    width: 100%;
    height: 100%;
}

.layui-body {
    overflow: hidden;
}

.text-avatar {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: greenyellow;
    line-height: 40px;
    text-align: center;
    top: 4px
}

.userinfo {
    height: 60px;
    line-height: 60px;
    padding-left: 30px;
}

.layui-nav-img {
    width: 40px;
    height: 40px;
}